{% extends "base.html" %}
{% block title %}
    Links
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
        {% if link_data %}
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                            <th scope="col">Full link</th>
                            <th scope="col">Short link</th>
                            <th scope="col">Number of transitions</th>
                            <th scope="col">Last transitions time</th>
                            <th scope="col">Most common country</th>
                            <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for k, v in link_data.items %}
                        <tr>
                            <td><a href="{{ k.full_link }}" class="links">{{ k.full_link|truncatechars:30 }}</a></td>
                            <td><a href="{% url 'redirect' shortlink=k.short_link %}" class="links">{% url 'redirect' shortlink=k.short_link %}</a></td>
                            <td>{{ v.0 }}</td>
                            {% if v.1.enter_date__max == None %}
                            <td>No transactions yet!</td>
                            {% else %}
                            <td>{{ v.1.enter_date__max }}</td>
                            {% endif %}
                            {% if v.2 %}
                            <td>{{ v.2.0.country }}</td>
                            {% else %}
                            <td>No country!</td>
                            {% endif %}
                            <td>
                                <form action="{% url 'delete' pk=k.pk %}" method="post" class="m-0">{% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You don't have any links yet!</p>
        {% endif %}
    </div>
</div>
{% endblock %}