{% extends "base.html" %}
{% block title %}
    Links
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
        {% if link_data %}
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                            <th scope="col">Full link</th>
                            <th scope="col">Short link</th>
                            <th scope="col">Number of transitions</th>
                            <th scope="col">Last transitions time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k, v in link_data.items %}
                        <tr>
                            <td><a href="{{ k.full_link }}" class="text-decoration-non">{{ k.full_link|truncatechars:30 }}</a></td>
                            <td><a href="{% url 'redirect' shortlink=k.short_link %}" class="text-decoration-non">{% url 'redirect' shortlink=k.short_link %}</a></td>
                            <td>{{ v.1 }}</td>
                            {% if v.0.enter_date__max == None %}
                            <td>No transactions yet!</td>
                            {% else %}
                            <td>{{ v.0.enter_date__max }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You don't have any links yet!</p>
        {% endif %}
    </div>
</div>
{% endblock %}